<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}My Site{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Google Roboto Font and Material Icons -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        body {
            display: flex;
            flex-direction: column;
            font-family: 'Roboto', sans-serif;
        }
        .container {
            flex: 1; /* This will make the container fill the height */
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        .footer {
            color: #777;
            background-color: #f8f9fa;
            text-align: center;
            padding: 20px 0;
            margin-top: 40px;
            border-top: 1px solid #eeeeee;
        }
        a, .btn {
            transition: color 0.3s ease, background-color 0.3s ease;
        }
        a:hover, .btn:hover {
            color: #0056b3; /* Adjusted for a more vibrant hover state */
            text-decoration: none; /* Removes underline from links on hover */
        }
        .material-icons {
            vertical-align: bottom; /* Aligns material icons with the text */
        }
        .table-responsive {
        overflow-x: auto; /* Allows horizontal scrolling */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS devices */
        }
        .nowrap {
        white-space: nowrap; /* Prevents text wrapping */
        }
    </style>
</head>
<body>
    <div class="container mt-3 mb-3">
        {% block content %}{% endblock %}
    </div>
    <footer class="footer">
        App made with <span class="material-icons">favorite</span> by SK Vidar nerds</p>
    </footer>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
