{% extends 'base.html' %}

{% block title %}Slack Users{% endblock %}

{% block content %}
<h1>Slack Workspace Users</h1>
<div class="table-responsive">
    <table class="table" id="usersTable">
        <thead>
            <tr>
                <th><a href="/?sort=join_date&order={{ 'asc' if request.args.get('sort') == 'join_date' and request.args.get('order') == 'desc' else 'desc' }}">Join Date</a></th>
                <th><a href="/?sort=real_name&order={{ 'asc' if request.args.get('sort') == 'real_name' and request.args.get('order') == 'desc' else 'desc' }}">Real Name</a></th>
                <th><a href="/?sort=email&order={{ 'asc' if request.args.get('sort') == 'email' and request.args.get('order') == 'desc' else 'desc' }}">Email</a></th>
                <th>Channels</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td data-iso="{{ user['join_date'] }}">{{ user['join_date'] }}</td>
                <td>{{ user['real_name'] }}</td>
                <td>{{ user['email'] }}</td>
                <td>{{ user.get('channels', [])|join(', ') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const dateCells = document.querySelectorAll('td[data-iso]');
    dateCells.forEach(cell => {
        const isoDate = cell.getAttribute('data-iso');
        const date = new Date(isoDate);
        cell.textContent = date.toLocaleDateString(); // Formats date based on browser locale
    });
});
</script>
{% endblock %}
